/*********************************************/
/*                  F O N T                  */
/*********************************************/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*********************************************/
/*              V A R I A B L E              */
/*********************************************/
/* other variable */
/*********************************************/
/*             A N I M A T I O N             */
/*********************************************/
/*********************************************/
/*              V A R I A B L E              */
/*********************************************/
/* other variable */
/********* LOADER *********/
@keyframes loader {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
svg :nth-child(1) {
  animation: loaderSvg 3s ease 0.1s infinite;
}
svg :nth-child(2) {
  animation: loaderSvg 3s ease 0.2s infinite;
}
svg :nth-child(3) {
  animation: loaderSvg 3s ease 0.3s infinite;
}
svg :nth-child(4) {
  animation: loaderSvg 3s ease 0.4s infinite;
}
svg :nth-child(5) {
  animation: loaderSvg 3s ease 0.5s infinite;
}
svg :nth-child(6) {
  animation: loaderSvg 3s ease 0.6s infinite;
}
svg :nth-child(7) {
  animation: loaderSvg 3s ease 0.7s infinite;
}
svg :nth-child(8) {
  animation: loaderSvg 3s ease 0.8s infinite;
}

@keyframes loaderSvg {
  40% {
    stroke: rgb(255, 121, 218);
    stroke-width: 2;
  }
  45% {
    stroke: rgb(147, 86, 220);
    stroke-width: 3;
  }
  50% {
    stroke: rgb(255, 121, 218);
    stroke-width: 5;
    stroke-dashoffset: 300;
  }
}
/********* HEART *********/
@keyframes heartCheck {
  100% {
    background-position-Y: 0;
    background-size: 100% 100%;
  }
}
@keyframes checkIconeOnHover {
  from {
    transform: translateX(20px);
    width: 0px;
  }
  to {
    transform: translateX(0px);
  }
}
/********* MENu *********/
@keyframes slideLeftOnload {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
main .menu:nth-child(1) {
  animation: slideLeftOnload 3s ease 0.25s forwards;
}
main .menu:nth-child(2) {
  animation: slideLeftOnload 3s ease 0.5s forwards;
}
main .menu:nth-child(3) {
  animation: slideLeftOnload 3s ease 0.75s forwards;
}
main .menu:nth-child(4) {
  animation: slideLeftOnload 3s ease 1s forwards;
}
main .menu:nth-child(5) {
  animation: slideLeftOnload 3s ease 1.25s forwards;
}

/***** M O B I L E   V E R S I O N S **********/
/***** General **********/
* {
  font-family: "Roboto", sans-serif;
}

.gradient {
  background: linear-gradient(355deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  border: rgb(53, 53, 53);
  color: rgb(255, 255, 255);
}

body {
  background-color: rgb(246, 246, 246);
  margin: 0px;
}

/***** Loader **********/
.loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  z-index: 5;
  animation: loader 6s ease forwards;
}
.loader svg {
  transform: scale(150%);
  width: 100%;
}
.loader svg path {
  fill-opacity: 2;
  stroke: rgb(147, 86, 220);
  fill: rgb(252, 252, 253);
  stroke-width: 1;
  stroke-dashoffset: 1;
  stroke-dasharray: 300;
}

/***** Header **********/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
header img {
  width: 45%;
  margin: 14px 0px 13px 0px;
}

.location {
  background-color: rgb(234, 234, 234);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  width: 100%;
}
.location p {
  color: rgb(53, 53, 53);
  font-size: 16px;
  font-weight: bold;
  word-wrap: break-word;
}

/***** Main Section **********/
.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 57px;
}

.main-title {
  margin: unset;
  text-align: center;
  padding: 0px 15% 20px 15%;
}

.main-subtitle {
  margin: unset;
  color: rgb(53, 53, 53);
  text-align: center;
  font-size: 18px;
  margin-bottom: 27px;
}

button {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(355deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  margin: 40px 0px;
  border: rgb(53, 53, 53);
  color: rgb(255, 255, 255);
  transition: 100ms;
}

button:hover {
  background: linear-gradient(335deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  transform: scale(105%);
}

/***** list Section **********/
.list-section {
  padding-left: 5.35%;
  padding-right: 5.35%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding-top: 48px;
  padding-bottom: 68px;
}

.list {
  margin: unset;
  padding: unset;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  box-sizing: border-box;
}
.list > :nth-child(3) i {
  /*Third Icone*/
  color: rgb(147, 86, 220);
}

.list-content {
  background-color: rgb(246, 246, 246);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  height: 72px;
  margin-left: 12px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.list-content i {
  color: rgb(125, 125, 125);
}
.list-content > :nth-child(1) {
  /*Circle/Number<p>*/
  background-color: rgb(147, 86, 220);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-left: -12px;
  font-size: 14.182px;
  aspect-ratio: 1/1;
}
.list-content > :nth-child(3) {
  /*Title<p>*/
  font-weight: bold;
}

/***** Restaurant Section **********/
.restaurant-section {
  padding: 54px 17px 66px 17px;
}
.restaurant-section h2 {
  margin: unset;
  margin-bottom: 25px;
  margin-left: 3px;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card a {
  text-decoration: none;
  color: #000000;
}
.card img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  height: 180px;
  box-sizing: border-box;
  object-fit: cover;
}
.card .card-content {
  display: flex;
  align-items: center;
}
.card .card-content .card-text {
  display: flex;
  height: fit-content;
  flex-direction: column;
  padding: 16px 35px 16px 16px;
  width: 70%;
}
.card .card-content .card-text h3 {
  margin: unset;
}
.card .card-content .card-text p {
  margin: unset;
  margin-top: 5px;
}
.card .heart-btn {
  position: relative;
}
.card .heart-btn i {
  display: flex;
  align-items: center;
}
.card .heart-btn input {
  z-index: 3;
  opacity: 0;
}
.card .heart-btn i,
.card .heart-btn input {
  position: absolute;
  bottom: 30px;
  right: 20px;
  margin: unset;
  width: 26px;
  height: 26px;
}
.card .heart-btn input:checked ~ .fill {
  display: flex;
}
.card .heart-btn input:checked ~ .empty {
  display: none;
}
.card .heart-btn .fill {
  display: none;
  background: linear-gradient(355deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  transform-origin: bottom;
  background-size: 100% 0%;
  background-position-y: 20px;
  background-repeat: no-repeat;
  animation: heartCheck 0.75s forwards;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Footer*/
footer {
  background: rgb(53, 53, 53);
  padding: 22px 25px;
}
footer img {
  filter: invert(1);
}

.footer-link {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer-link a {
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-decoration: none;
}

@media (min-width: 767.98px) {
  /***** Header *****/
  header img {
    width: 10.5%;
    margin: 30px 0px 30px 0px;
  }
  .location p {
    margin: 15.5px 0px 15.5px 0px;
  }
  /***** Main *****/
  .main-section {
    padding: unset;
    gap: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .main-title {
    padding: unset;
    font-size: 40px;
    font-weight: 700;
  }
  .main-subtitle {
    margin: unset;
  }
  /***** List *****/
  .list-section {
    gap: 25px;
    padding: 50px 10.5%;
  }
  .list {
    flex-direction: row;
  }
  .list-content {
    width: 100%;
  }
  /***** Restaurant *****/
  .restaurant-section {
    padding: 30px 10.5%;
  }
  .restaurants-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 100px;
  }
  /***** Footer *****/
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    padding: 30px 25px;
  }
  footer img {
    width: clamp(137px, 8%, 137px);
  }
  .footer-link {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
