/*********************************************/

/*              V A R I A B L E              */

/*********************************************/

$grey: rgba(53, 53, 53, 1);
$grey-2: rgb(234, 234, 234);
$grey-4: rgb(125, 125, 125);
$white: rgb(255, 255, 255);
$light-green:rgb(153, 226, 208);
$primary: rgb(147, 86, 220);
$background: rgb(246, 246, 246);

$gradient: linear-gradient(355deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
$gradient-light:linear-gradient(335deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);


/* other variable */
$list-padding: 5.35%;

$no-margin: unset;
$no-padding: unset;